* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
}

.brushes {
  color: white;
  background-color: rgb(114, 226, 114);
}

.frames {
  color: white;
  background-color: rgb(248, 132, 100);
}

.frames {
  color: white;
  background-color: rgb(162, 196, 233);
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.price {
  color: blue;
  font-weight: bold;
}
